# Static Paramters

In [64]:
# Directories
data_src = 'data-raw/'
data_dst = 'data-processed/'

list_to_track = ['GOLD','GBP','JPY','EUR','DAX']
time = 2

# Files
file_names = dict()
for s in list_to_track:
    file_names[s] = s+'.csv'

# Modules

In [65]:
import os # path.join
import pandas as pd # read_csv
import numpy as np # np.nan

# Load Data

In [66]:
# File Data Dictionary
file_data = dict()

# Read and Store Data
for file_key in file_names:
    # Get File Path
    file_name = file_names[file_key]
    file_path = os.path.join( data_src, file_name )
    # Read
    data = pd.read_csv( file_path, parse_dates=[0] )
    # Rename Columns
    data.columns = [ 'Date', 'Value' ]
    # Do Conversion if required
    if( file_key in [ 'GOLD', 'EUR', 'DAX' ] ):
        data['Value'] = 1 / data['Value']
    # Sort by Date
    data.sort_values( ['Date'], axis = 0, inplace=True )
    # Reset Index
    data.reset_index( drop=True, inplace=True )
    # Add Boolean Column
    # Continuous or not?!
    #data['is_continuous'] = (data.Date - data.Date.shift(1)).map( lambda x: x.days <= 1 )
    # Calculate Growth
    data[file_key] = (data['Value'] / data['Value'].shift(1)).map( lambda x: 'increase' if x > 1 else 'decrease' )
    # Filter
    #data = data[ data.is_continuous ]
    # Drop / Select
    data.drop( labels=['Value'], axis=1, inplace=True )
    
    #setting time frames
    for t in range(time):
        file_data[ file_key+'_'+str(t) ] = data.copy()
        data[file_key] = data[file_key].shift(1)
        
file_data

{'GOLD_0':             Date      GOLD
 0     1970-01-01  decrease
 1     1970-04-01  increase
 2     1970-07-01  decrease
 3     1970-10-01  decrease
 4     1971-01-01  decrease
 5     1971-04-01  decrease
 6     1971-07-01  decrease
 7     1971-10-01  decrease
 8     1972-01-03  decrease
 9     1972-04-03  decrease
 10    1972-07-03  decrease
 11    1972-10-02  decrease
 12    1973-01-01  increase
 13    1973-04-02  decrease
 14    1973-07-02  decrease
 15    1973-10-01  increase
 16    1974-01-01  decrease
 17    1974-04-01  decrease
 18    1974-07-01  increase
 19    1974-10-01  increase
 20    1975-01-01  decrease
 21    1975-04-01  increase
 22    1975-07-01  increase
 23    1975-10-01  increase
 24    1976-01-01  increase
 25    1976-04-01  increase
 26    1976-07-01  increase
 27    1976-10-01  increase
 28    1977-01-03  decrease
 29    1977-04-01  decrease
 ...          ...       ...
 10322 2018-06-04  decrease
 10323 2018-06-05  increase
 10324 2018-06-06  decrease
 10325 2018-06-07  increase
 10326 2018-06-08  decrease
 10327 2018-06-11  decrease
 10328 2018-06-12  increase
 10329 2018-06-13  increase
 10330 2018-06-14  decrease
 10331 2018-06-15  increase
 10332 2018-06-18  increase
 10333 2018-06-19  increase
 10334 2018-06-20  increase
 10335 2018-06-21  increase
 10336 2018-06-22  decrease
 10337 2018-06-25  increase
 10338 2018-06-26  increase
 10339 2018-06-27  increase
 10340 2018-06-28  increase
 10341 2018-06-29  increase
 10342 2018-07-02  increase
 10343 2018-07-03  decrease
 10344 2018-07-04  decrease
 10345 2018-07-05  increase
 10346 2018-07-06  increase
 10347 2018-07-09  decrease
 10348 2018-07-10  increase
 10349 2018-07-11  increase
 10350 2018-07-12  increase
 10351 2018-07-13  increase

 [10352 rows x 2 columns], 'GOLD_1':             Date      GOLD
 0     1970-01-01       NaN
 1     1970-04-01  decrease
 2     1970-07-01  increase
 3     1970-10-01  decrease
 4     1971-01-01  decrease
 5     1971-04-01  decrease
 6     1971-07-01  decrease
 7     1971-10-01  decrease
 8     1972-01-03  decrease
 9     1972-04-03  decrease
 10    1972-07-03  decrease
 11    1972-10-02  decrease
 12    1973-01-01  decrease
 13    1973-04-02  increase
 14    1973-07-02  decrease
 15    1973-10-01  decrease
 16    1974-01-01  increase
 17    1974-04-01  decrease
 18    1974-07-01  decrease
 19    1974-10-01  increase
 20    1975-01-01  increase
 21    1975-04-01  decrease
 22    1975-07-01  increase
 23    1975-10-01  increase
 24    1976-01-01  increase
 25    1976-04-01  increase
 26    1976-07-01  increase
 27    1976-10-01  increase
 28    1977-01-03  increase
 29    1977-04-01  decrease
 ...          ...       ...
 10322 2018-06-04  increase
 10323 2018-06-05  decrease
 10324 2018-06-06  increase
 10325 2018-06-07  decrease
 10326 2018-06-08  increase
 10327 2018-06-11  decrease
 10328 2018-06-12  decrease
 10329 2018-06-13  increase
 10330 2018-06-14  increase
 10331 2018-06-15  decrease
 10332 2018-06-18  increase
 10333 2018-06-19  increase
 10334 2018-06-20  increase
 10335 2018-06-21  increase
 10336 2018-06-22  increase
 10337 2018-06-25  decrease
 10338 2018-06-26  increase
 10339 2018-06-27  increase
 10340 2018-06-28  increase
 10341 2018-06-29  increase
 10342 2018-07-02  increase
 10343 2018-07-03  increase
 10344 2018-07-04  decrease
 10345 2018-07-05  decrease
 10346 2018-07-06  increase
 10347 2018-07-09  increase
 10348 2018-07-10  decrease
 10349 2018-07-11  increase
 10350 2018-07-12  increase
 10351 2018-07-13  increase

 [10352 rows x 2 columns], 'GBP_0':            Date       GBP
 0    2000-01-01  decrease
 1    2000-01-02  decrease
 2    2000-01-03  decrease
 3    2000-01-04  decrease
 4    2000-01-05  decrease
 5    2000-01-06  decrease
 6    2000-01-07  increase
 7    2000-01-08  decrease
 8    2000-01-09  decrease
 9    2000-01-10  increase
 10   2000-01-11  decrease
 11   2000-01-12  decrease
 12   2000-01-13  increase
 13   2000-01-14  increase
 14   2000-01-15  decrease
 15   2000-01-16  decrease
 16   2000-01-17  increase
 17   2000-01-18  decrease
 18   2000-01-19  decrease
 19   2000-01-20  decrease
 20   2000-01-21  increase
 21   2000-01-22  decrease
 22   2000-01-23  decrease
 23   2000-01-24  decrease
 24   2000-01-25  increase
 25   2000-01-26  increase
 26   2000-01-27  increase
 27   2000-01-28  increase
 28   2000-01-29  decrease
 29   2000-01-30  decrease
 ...         ...       ...
 6178 2016-12-02  decrease
 6179 2016-12-03  decrease
 6180 2016-12-04  decrease
 6181 2016-12-05  increase
 6182 2016-12-06  increase
 6183 2016-12-07  increase
 6184 2016-12-08  decrease
 6185 2016-12-09  increase
 6186 2016-12-10  increase
 6187 2016-12-11  decrease
 6188 2016-12-12  decrease
 6189 2016-12-13  increase
 6190 2016-12-14  decrease
 6191 2016-12-15  increase
 6192 2016-12-16  decrease
 6193 2016-12-17  increase
 6194 2016-12-18  decrease
 6195 2016-12-19  increase
 6196 2016-12-20  increase
 6197 2016-12-21  increase
 6198 2016-12-22  increase
 6199 2016-12-23  increase
 6200 2016-12-24  decrease
 6201 2016-12-25  increase
 6202 2016-12-26  decrease
 6203 2016-12-27  increase
 6204 2016-12-28  increase
 6205 2016-12-29  increase
 6206 2016-12-30  decrease
 6207 2016-12-31  increase

 [6208 rows x 2 columns], 'GBP_1':            Date       GBP
 0    2000-01-01       NaN
 1    2000-01-02  decrease
 2    2000-01-03  decrease
 3    2000-01-04  decrease
 4    2000-01-05  decrease
 5    2000-01-06  decrease
 6    2000-01-07  decrease
 7    2000-01-08  increase
 8    2000-01-09  decrease
 9    2000-01-10  decrease
 10   2000-01-11  increase
 11   2000-01-12  decrease
 12   2000-01-13  decrease
 13   2000-01-14  increase
 14   2000-01-15  increase
 15   2000-01-16  decrease
 16   2000-01-17  decrease
 17   2000-01-18  increase
 18   2000-01-19  decrease
 19   2000-01-20  decrease
 20   2000-01-21  decrease
 21   2000-01-22  increase
 22   2000-01-23  decrease
 23   2000-01-24  decrease
 24   2000-01-25  decrease
 25   2000-01-26  increase
 26   2000-01-27  increase
 27   2000-01-28  increase
 28   2000-01-29  increase
 29   2000-01-30  decrease
 ...         ...       ...
 6178 2016-12-02  decrease
 6179 2016-12-03  decrease
 6180 2016-12-04  decrease
 6181 2016-12-05  decrease
 6182 2016-12-06  increase
 6183 2016-12-07  increase
 6184 2016-12-08  increase
 6185 2016-12-09  decrease
 6186 2016-12-10  increase
 6187 2016-12-11  increase
 6188 2016-12-12  decrease
 6189 2016-12-13  decrease
 6190 2016-12-14  increase
 6191 2016-12-15  decrease
 6192 2016-12-16  increase
 6193 2016-12-17  decrease
 6194 2016-12-18  increase
 6195 2016-12-19  decrease
 6196 2016-12-20  increase
 6197 2016-12-21  increase
 6198 2016-12-22  increase
 6199 2016-12-23  increase
 6200 2016-12-24  increase
 6201 2016-12-25  decrease
 6202 2016-12-26  increase
 6203 2016-12-27  decrease
 6204 2016-12-28  increase
 6205 2016-12-29  increase
 6206 2016-12-30  increase
 6207 2016-12-31  decrease

 [6208 rows x 2 columns], 'JPY_0':            Date       JPY
 0    2000-01-01  decrease
 1    2000-01-02  decrease
 2    2000-01-03  decrease
 3    2000-01-04  increase
 4    2000-01-05  increase
 5    2000-01-06  increase
 6    2000-01-07  increase
 7    2000-01-08  decrease
 8    2000-01-09  decrease
 9    2000-01-10  decrease
 10   2000-01-11  increase
 11   2000-01-12  decrease
 12   2000-01-13  increase
 13   2000-01-14  decrease
 14   2000-01-15  decrease
 15   2000-01-16  decrease
 16   2000-01-17  decrease
 17   2000-01-18  increase
 18   2000-01-19  increase
 19   2000-01-20  decrease
 20   2000-01-21  decrease
 21   2000-01-22  decrease
 22   2000-01-23  decrease
 23   2000-01-24  increase
 24   2000-01-25  increase
 25   2000-01-26  increase
 26   2000-01-27  decrease
 27   2000-01-28  increase
 28   2000-01-29  decrease
 29   2000-01-30  decrease
 ...         ...       ...
 6178 2016-12-02  decrease
 6179 2016-12-03  decrease
 6180 2016-12-04  decrease
 6181 2016-12-05  increase
 6182 2016-12-06  increase
 6183 2016-12-07  decrease
 6184 2016-12-08  decrease
 6185 2016-12-09  increase
 6186 2016-12-10  increase
 6187 2016-12-11  increase
 6188 2016-12-12  decrease
 6189 2016-12-13  increase
 6190 2016-12-14  decrease
 6191 2016-12-15  increase
 6192 2016-12-16  increase
 6193 2016-12-17  increase
 6194 2016-12-18  decrease
 6195 2016-12-19  decrease
 6196 2016-12-20  increase
 6197 2016-12-21  decrease
 6198 2016-12-22  decrease
 6199 2016-12-23  decrease
 6200 2016-12-24  increase
 6201 2016-12-25  decrease
 6202 2016-12-26  decrease
 6203 2016-12-27  increase
 6204 2016-12-28  increase
 6205 2016-12-29  decrease
 6206 2016-12-30  increase
 6207 2016-12-31  increase

 [6208 rows x 2 columns], 'JPY_1':            Date       JPY
 0    2000-01-01       NaN
 1    2000-01-02  decrease
 2    2000-01-03  decrease
 3    2000-01-04  decrease
 4    2000-01-05  increase
 5    2000-01-06  increase
 6    2000-01-07  increase
 7    2000-01-08  increase
 8    2000-01-09  decrease
 9    2000-01-10  decrease
 10   2000-01-11  decrease
 11   2000-01-12  increase
 12   2000-01-13  decrease
 13   2000-01-14  increase
 14   2000-01-15  decrease
 15   2000-01-16  decrease
 16   2000-01-17  decrease
 17   2000-01-18  decrease
 18   2000-01-19  increase
 19   2000-01-20  increase
 20   2000-01-21  decrease
 21   2000-01-22  decrease
 22   2000-01-23  decrease
 23   2000-01-24  decrease
 24   2000-01-25  increase
 25   2000-01-26  increase
 26   2000-01-27  increase
 27   2000-01-28  decrease
 28   2000-01-29  increase
 29   2000-01-30  decrease
 ...         ...       ...
 6178 2016-12-02  increase
 6179 2016-12-03  decrease
 6180 2016-12-04  decrease
 6181 2016-12-05  decrease
 6182 2016-12-06  increase
 6183 2016-12-07  increase
 6184 2016-12-08  decrease
 6185 2016-12-09  decrease
 6186 2016-12-10  increase
 6187 2016-12-11  increase
 6188 2016-12-12  increase
 6189 2016-12-13  decrease
 6190 2016-12-14  increase
 6191 2016-12-15  decrease
 6192 2016-12-16  increase
 6193 2016-12-17  increase
 6194 2016-12-18  increase
 6195 2016-12-19  decrease
 6196 2016-12-20  decrease
 6197 2016-12-21  increase
 6198 2016-12-22  decrease
 6199 2016-12-23  decrease
 6200 2016-12-24  decrease
 6201 2016-12-25  increase
 6202 2016-12-26  decrease
 6203 2016-12-27  decrease
 6204 2016-12-28  increase
 6205 2016-12-29  increase
 6206 2016-12-30  decrease
 6207 2016-12-31  increase

 [6208 rows x 2 columns], 'EUR_0':            Date       EUR
 0    1999-01-04  decrease
 1    1999-01-05  decrease
 2    1999-01-06  increase
 3    1999-01-07  increase
 4    1999-01-08  decrease
 5    1999-01-11  increase
 6    1999-01-12  increase
 7    1999-01-13  decrease
 8    1999-01-14  increase
 9    1999-01-15  increase
 10   1999-01-18  increase
 11   1999-01-19  decrease
 12   1999-01-20  increase
 13   1999-01-21  increase
 14   1999-01-22  increase
 15   1999-01-25  decrease
 16   1999-01-26  increase
 17   1999-01-27  increase
 18   1999-01-28  increase
 19   1999-01-29  increase
 20   1999-02-01  increase
 21   1999-02-02  increase
 22   1999-02-03  decrease
 23   1999-02-04  increase
 24   1999-02-05  decrease
 25   1999-02-08  increase
 26   1999-02-09  decrease
 27   1999-02-10  decrease
 28   1999-02-11  increase
 29   1999-02-12  increase
 ...         ...       ...
 4973 2018-06-06  decrease
 4974 2018-06-07  decrease
 4975 2018-06-08  increase
 4976 2018-06-11  decrease
 4977 2018-06-12  increase
 4978 2018-06-13  increase
 4979 2018-06-14  increase
 4980 2018-06-15  increase
 4981 2018-06-18  decrease
 4982 2018-06-19  increase
 4983 2018-06-20  decrease
 4984 2018-06-21  increase
 4985 2018-06-22  decrease
 4986 2018-06-25  decrease
 4987 2018-06-26  increase
 4988 2018-06-27  increase
 4989 2018-06-28  increase
 4990 2018-06-29  decrease
 4991 2018-07-02  increase
 4992 2018-07-03  decrease
 4993 2018-07-04  increase
 4994 2018-07-05  decrease
 4995 2018-07-06  decrease
 4996 2018-07-09  decrease
 4997 2018-07-10  increase
 4998 2018-07-11  decrease
 4999 2018-07-12  increase
 5000 2018-07-13  increase
 5001 2018-07-16  decrease
 5002 2018-07-17  increase

 [5003 rows x 2 columns], 'EUR_1':            Date       EUR
 0    1999-01-04       NaN
 1    1999-01-05  decrease
 2    1999-01-06  decrease
 3    1999-01-07  increase
 4    1999-01-08  increase
 5    1999-01-11  decrease
 6    1999-01-12  increase
 7    1999-01-13  increase
 8    1999-01-14  decrease
 9    1999-01-15  increase
 10   1999-01-18  increase
 11   1999-01-19  increase
 12   1999-01-20  decrease
 13   1999-01-21  increase
 14   1999-01-22  increase
 15   1999-01-25  increase
 16   1999-01-26  decrease
 17   1999-01-27  increase
 18   1999-01-28  increase
 19   1999-01-29  increase
 20   1999-02-01  increase
 21   1999-02-02  increase
 22   1999-02-03  increase
 23   1999-02-04  decrease
 24   1999-02-05  increase
 25   1999-02-08  decrease
 26   1999-02-09  increase
 27   1999-02-10  decrease
 28   1999-02-11  decrease
 29   1999-02-12  increase
 ...         ...       ...
 4973 2018-06-06  increase
 4974 2018-06-07  decrease
 4975 2018-06-08  decrease
 4976 2018-06-11  increase
 4977 2018-06-12  decrease
 4978 2018-06-13  increase
 4979 2018-06-14  increase
 4980 2018-06-15  increase
 4981 2018-06-18  increase
 4982 2018-06-19  decrease
 4983 2018-06-20  increase
 4984 2018-06-21  decrease
 4985 2018-06-22  increase
 4986 2018-06-25  decrease
 4987 2018-06-26  decrease
 4988 2018-06-27  increase
 4989 2018-06-28  increase
 4990 2018-06-29  increase
 4991 2018-07-02  decrease
 4992 2018-07-03  increase
 4993 2018-07-04  decrease
 4994 2018-07-05  increase
 4995 2018-07-06  decrease
 4996 2018-07-09  decrease
 4997 2018-07-10  decrease
 4998 2018-07-11  increase
 4999 2018-07-12  decrease
 5000 2018-07-13  increase
 5001 2018-07-16  increase
 5002 2018-07-17  decrease

 [5003 rows x 2 columns], 'DAX_0':            Date       DAX
 0    1987-12-30  decrease
 1    1987-12-31  decrease
 2    1988-01-01  decrease
 3    1988-01-04  decrease
 4    1988-01-05  decrease
 5    1988-01-06  decrease
 6    1988-01-07  decrease
 7    1988-01-08  decrease
 8    1988-01-11  increase
 9    1988-01-12  increase
 10   1988-01-13  increase
 11   1988-01-14  decrease
 12   1988-01-15  increase
 13   1988-01-18  decrease
 14   1988-01-19  increase
 15   1988-01-20  increase
 16   1988-01-21  increase
 17   1988-01-22  decrease
 18   1988-01-25  increase
 19   1988-01-26  decrease
 20   1988-01-27  increase
 21   1988-01-28  increase
 22   1988-01-29  increase
 23   1988-02-01  decrease
 24   1988-02-02  decrease
 25   1988-02-03  decrease
 26   1988-02-04  decrease
 27   1988-02-05  increase
 28   1988-02-08  decrease
 29   1988-02-09  increase
 ...         ...       ...
 7861 2018-06-15  increase
 7862 2018-06-18  increase
 7863 2018-06-19  increase
 7864 2018-06-20  decrease
 7865 2018-06-21  increase
 7866 2018-06-22  decrease
 7867 2018-06-25  increase
 7868 2018-06-26  increase
 7869 2018-06-27  decrease
 7870 2018-06-28  increase
 7871 2018-06-29  decrease
 7872 2018-07-02  increase
 7873 2018-07-03  decrease
 7874 2018-07-04  increase
 7875 2018-07-05  decrease
 7876 2018-07-06  decrease
 7877 2018-07-09  decrease
 7878 2018-07-10  decrease
 7879 2018-07-11  increase
 7880 2018-07-12  decrease
 7881 2018-07-13  decrease
 7882 2018-07-16  decrease
 7883 2018-07-17  decrease
 7884 2018-07-18  decrease
 7885 2018-07-19  increase
 7886 2018-07-20  increase
 7887 2018-07-23  increase
 7888 2018-07-24  decrease
 7889 2018-07-25  increase
 7890 2018-07-26  decrease

 [7891 rows x 2 columns], 'DAX_1':            Date       DAX
 0    1987-12-30       NaN
 1    1987-12-31  decrease
 2    1988-01-01  decrease
 3    1988-01-04  decrease
 4    1988-01-05  decrease
 5    1988-01-06  decrease
 6    1988-01-07  decrease
 7    1988-01-08  decrease
 8    1988-01-11  decrease
 9    1988-01-12  increase
 10   1988-01-13  increase
 11   1988-01-14  increase
 12   1988-01-15  decrease
 13   1988-01-18  increase
 14   1988-01-19  decrease
 15   1988-01-20  increase
 16   1988-01-21  increase
 17   1988-01-22  increase
 18   1988-01-25  decrease
 19   1988-01-26  increase
 20   1988-01-27  decrease
 21   1988-01-28  increase
 22   1988-01-29  increase
 23   1988-02-01  increase
 24   1988-02-02  decrease
 25   1988-02-03  decrease
 26   1988-02-04  decrease
 27   1988-02-05  decrease
 28   1988-02-08  increase
 29   1988-02-09  decrease
 ...         ...       ...
 7861 2018-06-15  decrease
 7862 2018-06-18  increase
 7863 2018-06-19  increase
 7864 2018-06-20  increase
 7865 2018-06-21  decrease
 7866 2018-06-22  increase
 7867 2018-06-25  decrease
 7868 2018-06-26  increase
 7869 2018-06-27  increase
 7870 2018-06-28  decrease
 7871 2018-06-29  increase
 7872 2018-07-02  decrease
 7873 2018-07-03  increase
 7874 2018-07-04  decrease
 7875 2018-07-05  increase
 7876 2018-07-06  decrease
 7877 2018-07-09  decrease
 7878 2018-07-10  decrease
 7879 2018-07-11  decrease
 7880 2018-07-12  increase
 7881 2018-07-13  decrease
 7882 2018-07-16  decrease
 7883 2018-07-17  decrease
 7884 2018-07-18  decrease
 7885 2018-07-19  decrease
 7886 2018-07-20  increase
 7887 2018-07-23  increase
 7888 2018-07-24  increase
 7889 2018-07-25  decrease
 7890 2018-07-26  increase

 [7891 rows x 2 columns]}

# Merge Data

In [67]:
df_data = {
    'inner' : pd.DataFrame(),
    'outer' : pd.DataFrame()
}
for merge_type in df_data:
    # Merge
    for key in file_data:
        print(key)
        if( df_data[merge_type].shape[0] == 0 ):
            df_data[merge_type] = file_data[key].copy()
        else:
            df_data[merge_type] = pd.merge( df_data[merge_type], file_data[key], on = 'Date', how = merge_type )
        
    # Drop Date
    print(df_data[merge_type])
    df_data[merge_type].drop( labels = ['Date'], axis = 1, inplace = True )
    df_data[merge_type].replace(np.nan,'N/A',inplace=True)

GOLD_0
GOLD_1
GBP_0
GBP_1
JPY_0
JPY_1
EUR_0
EUR_1
DAX_0
DAX_1
           Date    GOLD_x    GOLD_y     GBP_x     GBP_y     JPY_x     JPY_y  \
0    2000-01-03  decrease  decrease  decrease  decrease  decrease  decrease
1    2000-01-04  increase  decrease  decrease  decrease  increase  decrease
2    2000-01-05  increase  increase  decrease  decrease  increase  increase
3    2000-01-06  increase  increase  decrease  decrease  increase  increase
4    2000-01-07  decrease  increase  increase  decrease  increase  increase
5    2000-01-10  increase  decrease  increase  decrease  decrease  decrease
6    2000-01-11  decrease  increase  decrease  increase  increase  decrease
7    2000-01-12  decrease  decrease  decrease  decrease  decrease  increase
8    2000-01-13  increase  decrease  increase  decrease  increase  decrease
9    2000-01-14  decrease  increase  increase  increase  decrease  increase
10   2000-01-17  decrease  decrease  increase  decrease  decrease  decrease
11   2000-01-18  decrease  decrease  decrease  increase  increase  decrease
12   2000-01-19  decrease  decrease  decrease  decrease  increase  increase
13   2000-01-20  decrease  decrease  decrease  decrease  decrease  increase
14   2000-01-21  increase  decrease  increase  decrease  decrease  decrease
15   2000-01-24  increase  increase  decrease  decrease  increase  decrease
16   2000-01-25  decrease  increase  increase  decrease  increase  increase
17   2000-01-26  increase  decrease  increase  increase  increase  increase
18   2000-01-27  increase  increase  increase  increase  decrease  increase
19   2000-01-28  decrease  increase  increase  increase  increase  decrease
20   2000-01-31  increase  decrease  increase  decrease  increase  decrease
21   2000-02-01  increase  increase  increase  increase  increase  increase
22   2000-02-02  decrease  increase  increase  increase  increase  increase
23   2000-02-03  increase  decrease  increase  increase  decrease  increase
24   2000-02-04  decrease  increase  increase  increase  decrease  decrease
25   2000-02-07  decrease  decrease  decrease  decrease  increase  decrease
26   2000-02-08  increase  decrease  decrease  decrease  increase  increase
27   2000-02-09  decrease  increase  decrease  decrease  decrease  increase
28   2000-02-10  decrease  decrease  increase  decrease  decrease  decrease
29   2000-02-11  decrease  decrease  increase  increase  increase  decrease
...         ...       ...       ...       ...       ...       ...       ...
4297 2016-11-18  increase  increase  increase  increase  increase  increase
4298 2016-11-21  decrease  increase  decrease  decrease  increase  increase
4299 2016-11-22  increase  decrease  increase  decrease  decrease  increase
4300 2016-11-23  increase  increase  decrease  increase  increase  decrease
4301 2016-11-24  decrease  increase  increase  decrease  increase  increase
4302 2016-11-25  decrease  decrease  decrease  increase  increase  increase
4303 2016-11-28  increase  decrease  increase  decrease  decrease  increase
4304 2016-11-29  increase  increase  decrease  increase  increase  decrease
4305 2016-11-30  increase  increase  increase  decrease  increase  increase
4306 2016-12-01  increase  increase  decrease  increase  increase  increase
4307 2016-12-02  decrease  increase  decrease  decrease  decrease  increase
4308 2016-12-05  increase  decrease  increase  decrease  increase  decrease
4309 2016-12-06  decrease  increase  increase  increase  increase  increase
4310 2016-12-07  decrease  decrease  increase  increase  decrease  increase
4311 2016-12-08  increase  decrease  decrease  increase  decrease  decrease
4312 2016-12-09  increase  increase  increase  decrease  increase  decrease
4313 2016-12-12  increase  increase  decrease  decrease  decrease  increase
4314 2016-12-13  decrease  increase  increase  decrease  increase  decrease
4315 2016-12-14  decrease  decrease  decrease  increase  decrease  increase
4316 2016-12-15  increase  decrease  increase  decrease  increase  decrease
4317 2016-12-16  decrease  increase  decrease  increase  increase  increase
4318 2016-12-19  decrease  decrease  increase  decrease  decrease  decrease
4319 2016-12-20  increase  decrease  increase  increase  increase  decrease
4320 2016-12-21  decrease  increase  increase  increase  decrease  increase
4321 2016-12-22  increase  decrease  increase  increase  decrease  decrease
4322 2016-12-23  decrease  increase  increase  increase  decrease  decrease
4323 2016-12-27  decrease  decrease  increase  decrease  increase  decrease
4324 2016-12-28  decrease  decrease  increase  increase  increase  increase
4325 2016-12-29  decrease  decrease  increase  increase  decrease  increase
4326 2016-12-30  decrease  decrease  decrease  increase  increase  decrease

         EUR_x     EUR_y     DAX_x     DAX_y
0     decrease  increase  decrease  decrease
1     decrease  decrease  increase  decrease
2     decrease  decrease  increase  increase
3     decrease  decrease  increase  increase
4     increase  decrease  decrease  increase
5     increase  increase  decrease  decrease
6     decrease  increase  increase  decrease
7     decrease  decrease  decrease  increase
8     increase  decrease  decrease  decrease
9     increase  increase  decrease  decrease
10    increase  increase  decrease  decrease
11    increase  increase  increase  decrease
12    decrease  increase  decrease  increase
13    increase  decrease  decrease  decrease
14    decrease  increase  increase  decrease
15    increase  decrease  increase  increase
16    increase  increase  increase  increase
17    decrease  increase  decrease  increase
18    increase  decrease  decrease  decrease
19    increase  increase  increase  decrease
20    increase  increase  increase  increase
21    increase  increase  decrease  increase
22    decrease  increase  decrease  decrease
23    decrease  decrease  decrease  decrease
24    decrease  decrease  decrease  decrease
25    increase  decrease  increase  decrease
26    decrease  increase  decrease  increase
27    decrease  decrease  decrease  decrease
28    increase  decrease  decrease  decrease
29    increase  increase  increase  decrease
...        ...       ...       ...       ...
4297  increase  decrease  increase  decrease
4298  decrease  increase  decrease  increase
4299  increase  decrease  decrease  decrease
4300  increase  increase  increase  decrease
4301  increase  increase  decrease  increase
4302  decrease  increase  decrease  decrease
4303  increase  decrease  increase  decrease
4304  increase  increase  decrease  increase
4305  decrease  increase  decrease  decrease
4306  increase  decrease  increase  decrease
4307  decrease  increase  increase  increase
4308  decrease  decrease  decrease  increase
4309  decrease  decrease  decrease  decrease
4310  increase  decrease  decrease  decrease
4311  decrease  increase  decrease  decrease
4312  increase  decrease  decrease  decrease
4313  decrease  increase  increase  decrease
4314  decrease  decrease  decrease  increase
4315  decrease  decrease  increase  decrease
4316  increase  decrease  decrease  increase
4317  decrease  increase  decrease  decrease
4318  increase  decrease  decrease  decrease
4319  increase  increase  decrease  decrease
4320  decrease  increase  decrease  decrease
4321  decrease  decrease  increase  decrease
4322  decrease  decrease  increase  increase
4323  increase  decrease  decrease  increase
4324  increase  increase  decrease  decrease
4325  decrease  increase  increase  decrease
4326  decrease  decrease  decrease  increase

[4327 rows x 11 columns]
GOLD_0
GOLD_1
GBP_0
GBP_1
JPY_0
JPY_1
EUR_0
EUR_1
DAX_0
DAX_1
            Date    GOLD_x    GOLD_y     GBP_x     GBP_y     JPY_x     JPY_y  \
0     1970-01-01  decrease       NaN       NaN       NaN       NaN       NaN
1     1970-04-01  increase  decrease       NaN       NaN       NaN       NaN
2     1970-07-01  decrease  increase       NaN       NaN       NaN       NaN
3     1970-10-01  decrease  decrease       NaN       NaN       NaN       NaN
4     1971-01-01  decrease  decrease       NaN       NaN       NaN       NaN
5     1971-04-01  decrease  decrease       NaN       NaN       NaN       NaN
6     1971-07-01  decrease  decrease       NaN       NaN       NaN       NaN
7     1971-10-01  decrease  decrease       NaN       NaN       NaN       NaN
8     1972-01-03  decrease  decrease       NaN       NaN       NaN       NaN
9     1972-04-03  decrease  decrease       NaN       NaN       NaN       NaN
10    1972-07-03  decrease  decrease       NaN       NaN       NaN       NaN
11    1972-10-02  decrease  decrease       NaN       NaN       NaN       NaN
12    1973-01-01  increase  decrease       NaN       NaN       NaN       NaN
13    1973-04-02  decrease  increase       NaN       NaN       NaN       NaN
14    1973-07-02  decrease  decrease       NaN       NaN       NaN       NaN
15    1973-10-01  increase  decrease       NaN       NaN       NaN       NaN
16    1974-01-01  decrease  increase       NaN       NaN       NaN       NaN
17    1974-04-01  decrease  decrease       NaN       NaN       NaN       NaN
18    1974-07-01  increase  decrease       NaN       NaN       NaN       NaN
19    1974-10-01  increase  increase       NaN       NaN       NaN       NaN
20    1975-01-01  decrease  increase       NaN       NaN       NaN       NaN
21    1975-04-01  increase  decrease       NaN       NaN       NaN       NaN
22    1975-07-01  increase  increase       NaN       NaN       NaN       NaN
23    1975-10-01  increase  increase       NaN       NaN       NaN       NaN
24    1976-01-01  increase  increase       NaN       NaN       NaN       NaN
25    1976-04-01  increase  increase       NaN       NaN       NaN       NaN
26    1976-07-01  increase  increase       NaN       NaN       NaN       NaN
27    1976-10-01  increase  increase       NaN       NaN       NaN       NaN
28    1977-01-03  decrease  increase       NaN       NaN       NaN       NaN
29    1977-04-01  decrease  decrease       NaN       NaN       NaN       NaN
...          ...       ...       ...       ...       ...       ...       ...
12104 2016-10-22       NaN       NaN  decrease  increase  decrease  decrease
12105 2016-10-23       NaN       NaN  decrease  decrease  decrease  decrease
12106 2016-10-29       NaN       NaN  decrease  increase  decrease  increase
12107 2016-10-30       NaN       NaN  decrease  decrease  decrease  decrease
12108 2016-11-05       NaN       NaN  decrease  decrease  decrease  decrease
12109 2016-11-06       NaN       NaN  decrease  decrease  increase  decrease
12110 2016-11-12       NaN       NaN  increase  decrease  increase  increase
12111 2016-11-13       NaN       NaN  decrease  increase  increase  increase
12112 2016-11-19       NaN       NaN  decrease  increase  increase  increase
12113 2016-11-20       NaN       NaN  decrease  decrease  increase  increase
12114 2016-11-26       NaN       NaN  decrease  decrease  increase  increase
12115 2016-11-27       NaN       NaN  decrease  decrease  increase  increase
12116 2016-12-03       NaN       NaN  decrease  decrease  decrease  decrease
12117 2016-12-04       NaN       NaN  decrease  decrease  decrease  decrease
12118 2016-12-10       NaN       NaN  increase  increase  increase  increase
12119 2016-12-11       NaN       NaN  decrease  increase  increase  increase
12120 2016-12-17       NaN       NaN  increase  decrease  increase  increase
12121 2016-12-18       NaN       NaN  decrease  increase  decrease  increase
12122 2016-12-24       NaN       NaN  decrease  increase  increase  decrease
12123 2016-12-25       NaN       NaN  increase  decrease  decrease  increase
12124 2016-12-31       NaN       NaN  increase  decrease  increase  increase
12125 2018-07-16       NaN       NaN       NaN       NaN       NaN       NaN
12126 2018-07-17       NaN       NaN       NaN       NaN       NaN       NaN
12127 2018-07-18       NaN       NaN       NaN       NaN       NaN       NaN
12128 2018-07-19       NaN       NaN       NaN       NaN       NaN       NaN
12129 2018-07-20       NaN       NaN       NaN       NaN       NaN       NaN
12130 2018-07-23       NaN       NaN       NaN       NaN       NaN       NaN
12131 2018-07-24       NaN       NaN       NaN       NaN       NaN       NaN
12132 2018-07-25       NaN       NaN       NaN       NaN       NaN       NaN
12133 2018-07-26       NaN       NaN       NaN       NaN       NaN       NaN

          EUR_x     EUR_y     DAX_x     DAX_y
0           NaN       NaN       NaN       NaN
1           NaN       NaN       NaN       NaN
2           NaN       NaN       NaN       NaN
3           NaN       NaN       NaN       NaN
4           NaN       NaN       NaN       NaN
5           NaN       NaN       NaN       NaN
6           NaN       NaN       NaN       NaN
7           NaN       NaN       NaN       NaN
8           NaN       NaN       NaN       NaN
9           NaN       NaN       NaN       NaN
10          NaN       NaN       NaN       NaN
11          NaN       NaN       NaN       NaN
12          NaN       NaN       NaN       NaN
13          NaN       NaN       NaN       NaN
14          NaN       NaN       NaN       NaN
15          NaN       NaN       NaN       NaN
16          NaN       NaN       NaN       NaN
17          NaN       NaN       NaN       NaN
18          NaN       NaN       NaN       NaN
19          NaN       NaN       NaN       NaN
20          NaN       NaN       NaN       NaN
21          NaN       NaN       NaN       NaN
22          NaN       NaN       NaN       NaN
23          NaN       NaN       NaN       NaN
24          NaN       NaN       NaN       NaN
25          NaN       NaN       NaN       NaN
26          NaN       NaN       NaN       NaN
27          NaN       NaN       NaN       NaN
28          NaN       NaN       NaN       NaN
29          NaN       NaN       NaN       NaN
...         ...       ...       ...       ...
12104       NaN       NaN       NaN       NaN
12105       NaN       NaN       NaN       NaN
12106       NaN       NaN       NaN       NaN
12107       NaN       NaN       NaN       NaN
12108       NaN       NaN       NaN       NaN
12109       NaN       NaN       NaN       NaN
12110       NaN       NaN       NaN       NaN
12111       NaN       NaN       NaN       NaN
12112       NaN       NaN       NaN       NaN
12113       NaN       NaN       NaN       NaN
12114       NaN       NaN       NaN       NaN
12115       NaN       NaN       NaN       NaN
12116       NaN       NaN       NaN       NaN
12117       NaN       NaN       NaN       NaN
12118       NaN       NaN       NaN       NaN
12119       NaN       NaN       NaN       NaN
12120       NaN       NaN       NaN       NaN
12121       NaN       NaN       NaN       NaN
12122       NaN       NaN       NaN       NaN
12123       NaN       NaN       NaN       NaN
12124       NaN       NaN       NaN       NaN
12125  decrease  increase  decrease  decrease
12126  increase  decrease  decrease  decrease
12127       NaN       NaN  decrease  decrease
12128       NaN       NaN  increase  decrease
12129       NaN       NaN  increase  increase
12130       NaN       NaN  increase  increase
12131       NaN       NaN  decrease  increase
12132       NaN       NaN  increase  decrease
12133       NaN       NaN  decrease  increase

[12134 rows x 11 columns]

In [68]:
tmp = df_data['inner']
tmp

,GOLD_x,GOLD_y,GBP_x,GBP_y,JPY_x,JPY_y,EUR_x,EUR_y,DAX_x,DAX_y
0,decrease,decrease,decrease,decrease,decrease,decrease,decrease,increase,decrease,decrease
1,increase,decrease,decrease,decrease,increase,decrease,decrease,decrease,increase,decrease
2,increase,increase,decrease,decrease,increase,increase,decrease,decrease,increase,increase
3,increase,increase,decrease,decrease,increase,increase,decrease,decrease,increase,increase
4,decrease,increase,increase,decrease,increase,increase,increase,decrease,decrease,increase
5,increase,decrease,increase,decrease,decrease,decrease,increase,increase,decrease,decrease
6,decrease,increase,decrease,increase,increase,decrease,decrease,increase,increase,decrease
7,decrease,decrease,decrease,decrease,decrease,increase,decrease,decrease,decrease,increase
8,increase,decrease,increase,decrease,increase,decrease,increase,decrease,decrease,decrease
9,decrease,increase,increase,increase,decrease,increase,increase,increase,decrease,decrease
10,decrease,decrease,increase,decrease,decrease,decrease,increase,increase,decrease,decrease
11,decrease,decrease,decrease,increase,increase,decrease,increase,increase,increase,decrease
12,decrease,decrease,decrease,decrease,increase,increase,decrease,increase,decrease,increase
13,decrease,decrease,decrease,decrease,decrease,increase,increase,decrease,decrease,decrease
14,increase,decrease,increase,decrease,decrease,decrease,decrease,increase,increase,decrease
15,increase,increase,decrease,decrease,increase,decrease,increase,decrease,increase,increase
16,decrease,increase,increase,decrease,increase,increase,increase,increase,increase,increase
17,increase,decrease,increase,increase,increase,increase,decrease,increase,decrease,increase
18,increase,increase,increase,increase,decrease,increase,increase,decrease,decrease,decrease
19,decrease,increase,increase,increase,increase,decrease,increase,increase,increase,decrease
20,increase,decrease,increase,decrease,increase,decrease,increase,increase,increase,increase
21,increase,increase,increase,increase,increase,increase,increase,increase,decrease,increase
22,decrease,increase,increase,increase,increase,increase,decrease,increase,decrease,decrease
23,increase,decrease,increase,increase,decrease,increase,decrease,decrease,decrease,decrease
24,decrease,increase,increase,increase,decrease,decrease,decrease,decrease,decrease,decrease
25,decrease,decrease,decrease,decrease,increase,decrease,increase,decrease,increase,decrease
26,increase,decrease,decrease,decrease,increase,increase,decrease,increase,decrease,increase
27,decrease,increase,decrease,decrease,decrease,increase,decrease,decrease,decrease,decrease
28,decrease,decrease,increase,decrease,decrease,decrease,increase,decrease,decrease,decrease
29,decrease,decrease,increase,increase,increase,decrease,increase,increase,increase,decrease
...,...,...,...,...,...,...,...,...,...,...
4297,increase,increase,increase,increase,increase,increase,increase,decrease,increase,decrease
4298,decrease,increase,decrease,decrease,increase,increase,decrease,increase,decrease,increase
4299,increase,decrease,increase,decrease,decrease,increase,increase,decrease,decrease,decrease
4300,increase,increase,decrease,increase,increase,decrease,increase,increase,increase,decrease
4301,decrease,increase,increase,decrease,increase,increase,increase,increase,decrease,increase
4302,decrease,decrease,decrease,increase,increase,increase,decrease,increase,decrease,decrease
4303,increase,decrease,increase,decrease,decrease,increase,increase,decrease,increase,decrease
4304,increase,increase,decrease,increase,increase,decrease,increase,increase,decrease,increase
4305,increase,increase,increase,decrease,increase,increase,decrease,increase,decrease,decrease
4306,increase,increase,decrease,increase,increase,increase,increase,decrease,increase,decrease
4307,decrease,increase,decrease,decrease,decrease,increase,decrease,increase,increase,increase
4308,increase,decrease,increase,decrease,increase,decrease,decrease,decrease,decrease,increase
4309,decrease,increase,increase,increase,increase,increase,decrease,decrease,decrease,decrease
4310,decrease,decrease,increase,increase,decrease,increase,increase,decrease,decrease,decrease
4311,increase,decrease,decrease,increase,decrease,decrease,decrease,increase,decrease,decrease
4312,increase,increase,increase,decrease,increase,decrease,increase,decrease,decrease,decrease
4313,increase,increase,decrease,decrease,decrease,increase,decrease,increase,increase,decrease
4314,decrease,increase,increase,decrease,increase,decrease,decrease,decrease,decrease,increase
4315,decrease,decrease,decrease,increase,decrease,increase,decrease,decrease,increase,decrease
4316,increase,decrease,increase,decrease,increase,decrease,increase,decrease,decrease,increase
4317,decrease,increase,decrease,increase,increase,increase,decrease,increase,decrease,decrease
4318,decrease,decrease,increase,decrease,decrease,decrease,increase,decrease,decrease,decrease
4319,increase,decrease,increase,increase,increase,decrease,increase,increase,decrease,decrease
4320,decrease,increase,increase,increase,decrease,increase,decrease,increase,decrease,decrease
4321,increase,decrease,increase,increase,decrease,decrease,decrease,decrease,increase,decrease
4322,decrease,increase,increase,increase,decrease,decrease,decrease,decrease,increase,increase
4323,decrease,decrease,increase,decrease,increase,decrease,increase,decrease,decrease,increase
4324,decrease,decrease,increase,increase,increase,increase,increase,increase,decrease,decrease
4325,decrease,decrease,increase,increase,decrease,increase,decrease,increase,increase,decrease
4326,decrease,decrease,decrease,increase,increase,decrease,decrease,decrease,decrease,increase

# Store

In [63]:
for key in df_data:
    # Path
    file_name = '{}.dat'.format( key )
    file_path = os.path.join( data_dst, file_name )
    # Store
    df_data[key].to_csv( file_path, index = False )
df_data['inner']

          GOLD       GBP       JPY       EUR       DAX
0     decrease  decrease  decrease  decrease  decrease
1     increase  decrease  increase  decrease  increase
2     increase  decrease  increase  decrease  increase
3     increase  decrease  increase  decrease  increase
4     decrease  increase  increase  increase  decrease
5     increase  increase  decrease  increase  decrease
6     decrease  decrease  increase  decrease  increase
7     decrease  decrease  decrease  decrease  decrease
8     increase  increase  increase  increase  decrease
9     decrease  increase  decrease  increase  decrease
10    decrease  increase  decrease  increase  decrease
11    decrease  decrease  increase  increase  increase
12    decrease  decrease  increase  decrease  decrease
13    decrease  decrease  decrease  increase  decrease
14    increase  increase  decrease  decrease  increase
15    increase  decrease  increase  increase  increase
16    decrease  increase  increase  increase  increase
17    increase  increase  increase  decrease  decrease
18    increase  increase  decrease  increase  decrease
19    decrease  increase  increase  increase  increase
20    increase  increase  increase  increase  increase
21    increase  increase  increase  increase  decrease
22    decrease  increase  increase  decrease  decrease
23    increase  increase  decrease  decrease  decrease
24    decrease  increase  decrease  decrease  decrease
25    decrease  decrease  increase  increase  increase
26    increase  decrease  increase  decrease  decrease
27    decrease  decrease  decrease  decrease  decrease
28    decrease  increase  decrease  increase  decrease
29    decrease  increase  increase  increase  increase
...        ...       ...       ...       ...       ...
4297  increase  increase  increase  increase  increase
4298  decrease  decrease  increase  decrease  decrease
4299  increase  increase  decrease  increase  decrease
4300  increase  decrease  increase  increase  increase
4301  decrease  increase  increase  increase  decrease
4302  decrease  decrease  increase  decrease  decrease
4303  increase  increase  decrease  increase  increase
4304  increase  decrease  increase  increase  decrease
4305  increase  increase  increase  decrease  decrease
4306  increase  decrease  increase  increase  increase
4307  decrease  decrease  decrease  decrease  increase
4308  increase  increase  increase  decrease  decrease
4309  decrease  increase  increase  decrease  decrease
4310  decrease  increase  decrease  increase  decrease
4311  increase  decrease  decrease  decrease  decrease
4312  increase  increase  increase  increase  decrease
4313  increase  decrease  decrease  decrease  increase
4314  decrease  increase  increase  decrease  decrease
4315  decrease  decrease  decrease  decrease  increase
4316  increase  increase  increase  increase  decrease
4317  decrease  decrease  increase  decrease  decrease
4318  decrease  increase  decrease  increase  decrease
4319  increase  increase  increase  increase  decrease
4320  decrease  increase  decrease  decrease  decrease
4321  increase  increase  decrease  decrease  increase
4322  decrease  increase  decrease  decrease  increase
4323  decrease  increase  increase  increase  decrease
4324  decrease  increase  increase  increase  decrease
4325  decrease  increase  decrease  decrease  increase
4326  decrease  decrease  increase  decrease  decrease

[4327 rows x 5 columns]